/*Reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

/*General*/
body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10rem;
  min-height: 100vh;
}

h1 {
  color: hsl(167, 36%, 25%);
  text-align: center;
  font-size: 3.2rem;
  font-weight: normal;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

h2 {
  color: hsl(164, 7%, 30%);
  text-align: center;
  font-size: 2.4rem;
  font-style: oblique;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}

/*Header*/

header {
  background-color: rgb(44, 72, 68);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  margin: 0 2rem;
}

.logo {
  width: 10rem;
  height: auto;
  border-radius: 0%;
  transition: transform 3s ease-out;
}

.logo:hover {
  transform: rotate(70deg);
}

.header__menu {
  font-size: 1.5rem;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
}

.header__menu ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(44, 72, 68);
}

.header__menu li {
  float: left;
  width: 14rem;
}

.header__menu li a {
  display: block;
  color: rgb(232, 239, 240);
  text-align: center;
  padding: 1.4rem 0;
  text-decoration: none;
}

.header__menu li a:hover {
  background-color: rgba(80, 156, 153, 0.699);
}

.mmenu {
  display: none;
}

/*Body__Presentación*/

.video {
  width: 100%;
  height: auto;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(63, 68, 68, 0.068);
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.presentacion__title {
  margin-left: 0rem;
}

.presentacion__text {
  line-height: 2.5rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.presentacion__img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 80vw;
}

/*Body__Propiedades Destacadas*/
.destacadas {
  margin: 5rem 0 10rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
  grid-gap: 1rem;
  grid-template-areas: "title" "prop";
  justify-content: center;
}

.destacadas__title {
  grid-area: title;
}

.destacadas__grilla {
  grid-area: prop;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.destacadas__gallery {
  margin: 1rem;
  width: 27rem;
}

.destacadas__gallery:hover {
  background-color: rgb(174, 223, 215);
}

.destacadas__gallery img {
  width: 100%;
  height: 23rem;
}

.desc {
  padding: 15px;
  text-align: center;
}

/*Footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  text-align: center;
  margin-top: 10rem;
  padding-bottom: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__social img {
  border-style: solid;
  border-color: white;
  border-width: 1rem;
  margin-top: 1.5rem;
}

/*Nosotros*/

.nosotros {
  margin: 1rem 0 10rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 12rem;
  grid-gap: 1rem;
  grid-template-areas: "nostitle" "nositems" "nostext";
  justify-content: center;
}

.nosotros__title {
  grid-area: nostitle;
}

.nosotros__items {
  grid-area: nositems;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nosotros__card {
  margin: 1rem;
  width: 20rem;
}

.nosotros__img {
  width: 18rem;
  height: auto;
}

.nosotros__img:hover {
  transform: scale(1.1);
}

.nosotros__text {
  text-align: center;
  padding: 0 1rem;
  grid-area: nostext;
}

/*Novedades*/

.news {
  margin-left: 1rem;
}

.article {
  background-color: rgba(230, 231, 231, 0.623);
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.article__title {
  color: hsl(164, 7%, 30%);
  text-align: center;
  font-size: 2.4rem;
  font-style: oblique;
  font-weight: bold;
  padding-top: 3rem;
}

.article__text {
  color: hsl(0, 0%, 5%);
  text-align: justify;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 4vw;
  margin-left: 4vw;
}

.article__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-style: solid;
  border-color: white;
  border-width: 1rem;
}
*/

/*Propiedades*/
.prop__iframe {
  margin-left: 5%;
  margin-bottom: 5rem;
}

/*Contacto*/
.tablaDatos {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
  background-color: rgb(214, 230, 236);
  width: 40rem;
  font-size: 1.4rem;
}

.tablaDatos td {
  padding: 1rem;
  text-align: left;
  width: 20rem;
}

.tablaDatos tr:hover {
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.form__input {
  font-size: 1.4rem;
  margin: 0.5rem;
}

.form__input input {
  width: 67rem;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  box-sizing: border-box;
}

.form__input textarea {
  width: 80rem;
  height: 15rem;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  box-sizing: border-box;
}

.form__input select {
  width: 65rem;
  padding: 1.2rem 2rem;
  margin-bottom: 1rem;
}

.form__button input[type="submit"] {
  width: 80rem;
  background-color: #527766;
  border: none;
  color: white;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
}

.form__button input[type="reset"] {
  width: 20%;
  padding: 1rem 2.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.contacto__map {
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  main {
    margin-top: 14rem;
  }

  .header {
    display: none;
  }

  .mmenu__logo {
    padding: 2rem;
  }

  .mmenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    min-width: 100vw;
    height: 12rem;
    z-index: 100;
    background-color: rgb(44, 72, 68);
  }

  #mmenu__toggle {
    opacity: 0;
  }

  #mmenu__toggle:checked ~ .mmenu__btn > span {
    transform: rotate(45deg);
  }
  #mmenu__toggle:checked ~ .mmenu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #mmenu__toggle:checked ~ .mmenu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #mmenu__toggle:checked ~ .mmenu__box {
    visibility: visible;
    left: 0;
  }

  .mmenu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    left: 3.5rem;
    margin-left: 70vw;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
  }

  .mmenu__btn > span,
  .mmenu__btn > span::before,
  .mmenu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.25s;
  }

  .mmenu__btn > span::before {
    content: "";
    top: -8px;
  }
  .mmenu__btn > span::after {
    content: "";
    top: 8px;
  }

  .mmenu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 185px;
    height: 100%;
    margin: 0;
    padding: 22vh 0;
    list-style: none;
    background-color: #93bcc2;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: -1;
  }

  .mmenu__item {
    display: block;
    margin-left: 0rem;
    padding: 12px 24px;
    color: rgb(18, 32, 34);
    text-align: left;
    font-size: 2rem;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .video {
    margin-top: -2rem;
  }

  .destacadas__title {
    margin-left: 0rem;
    text-align: center;
  }

  .nosotros {
    margin-top: 15rem;
  }

  .tablaDatos {
    max-width: 95vw;
  }

  .form {
    display: none;
  }

  .contacto__map {
    display: block;
    margin: 1rem auto;
    width: 90vw;
    height: 20rem;
  }
}
