/*Variables*/
$fontSize: (
  xlarge: 3.2rem,
  large: 2.4rem,
  medium: 2rem,
  small: 1.6rem,
  xsmall: 1.4rem,
);

@each $var, $val in $fontSize {
  .fs-#{$var} {
    font-size: #{$val};
  }
}

/*Mixins*/
@mixin flex(
  $display: flex,
  $flex-direction: column,
  $align-items: center,
  $justify-content: space-evenly,
  $wrap: nowrap
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}
